<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>League Tracker</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="mediaqueries.css">

</head>

<body>
    <nav class="site-nav">
        <div class="logo">Add Match</div>
        <div>
            <ul class="nav-links">
                <li><a href="/">Home</a></li>
                <li><a href="/ladder">Ladder</a></li>
                <li><a href="/matches">Matches</a></li>
                <li><a href="/results">Results</a></li>
                <li><a href="/add-team">Add Team</a></li>
                <li><a href="/log-match">Log Match</a></li>

            </ul>
        </div>
    </nav>
</body>
        
<body>
    <h1>Add Team</h1> <br>
    <p1>Number of teams: <%= teams.length %></p1> <br>
    <form action="/add-team" method="POST">
        <table>
            <tr>
                <td> <label>Name</label></td>
                <td> <input class="btn submit" type="text" name="name"  maxlength="20" minlength="5" placeholder="Enter team name" required/></td>
            </tr>
        </tr>
            <tr>
                <td> <button>Submit</button></label></td>
            </tr>
        </table> 
    </form>
</body>
</html>