<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>League Tracker</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="mediaqueries.css">

</head>

<body>
    <nav class="site-nav">
        <div class="logo">Football Leagues</div>
        <div>
            <ul class="nav-links">
                <li><a href="/">Home</a></li>
                <li><a href="/ladder">Ladder</a></li>
                <li><a href="/results">Results</a></li>
                <li><a href="/add-team">Add Team</a></li>
                <li><a href="/log-match">Log Match</a></li>

            </ul>
        </div>
    </nav>
</body>

<body>
    <h1>Ladder</h1>
    <table> 
        <% if (teams.length == 0) { %>
            <p1>Please add a team</p1>
        <%} else { %>
        <tr>
            <th>Team</th>
            <th>Played</th>
            <th>Wins</th>
            <th>Draws</th>
            <th>Losses</th>
            <th>Goals For</th>
            <th>Goals Against</th>
            <th>Goal Difference</th>
            <th>Points</th>

        </tr>
            <% for(let i=0;i<teams.length;i++){ %>
            <tr>
                <td><%= teams[i].name %></td>
                <td><%= teams[i].gamesPlayed %></td>
                <td><%= teams[i].wins %></td>
                <td><%= teams[i].draws %></td>
                <td><%= teams[i].losses %></td>
                <td><%= teams[i].goalsFor %></td>
                <td><%= teams[i].goalsAgainst %></td>
                <td><%= teams[i].goalDifference %></td>
                <td><%= teams[i].points %></td>
            </tr>
            <%} %>
        <%} %>
    </table>
</body>
</html>