<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>League Tracker</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="mediaqueries.css">

</head>

<body>
    <nav class="site-nav">
        <div class="logo">Log Match</div>
        <div>
            <ul class="nav-links">
                <li><a href="/">Home</a></li>
                <li><a href="/ladder">Ladder</a></li>
                <li><a href="/results">Results</a></li>
                <li><a href="/add-team">Add Team</a></li>
                <li><a href="/log-match">Log Match</a></li>

            </ul>
        </div>
    </nav>
</body>
        
<body>
    <h1>Log Match Result</h1> <br>
    <form action="/log-match" method="POST">
        <table>
            <tr>
                <label for="homeTeamId" class="form-label">Home Team</label>
                <select name="homeTeamId" id="homeTeamId" class="form-select" required>
                    <option disabled selected value> -- select an option -- </option>
                    <% for (let i=0;i<teams.length;i++){ %>
                        <option value="<%= teams[i]._id %>"><%= teams[i].name %></option>
                    <% } %>
                </select>
            </tr>
            <tr>
                <td> <label>Home Goals Scored</label></td>
                <td> <input class="input-box" type="number" name="homeGoals" placeholder="Enter goals scored" min="0" max="99" required/></td>
            </tr>
            <tr>
                <label for="awayTeamId" class="form-label">Away Team</label>
                <select name="awayTeamId" id="awayTeamId" class="form-select" required>
                    <option disabled selected value> -- select an option -- </option>
                    <% for (let i=0;i<teams.length;i++){ %>
                        <option value="<%= teams[i]._id %>"><%= teams[i].name %></option>
                    <% } %>
                </select>
            </tr>
            <tr>
                <td> <label>Away Goals Scored</label></td>
                <td> <input class="input-box" type="number" name="awayGoals" placeholder="Enter goals scored" min="0" max="99" required/></td>
            </tr>
            <tr></tr>
                <td> <label>Date</label></td>
                <td> <input class="input-box" type="datetime-local" name="date" placeholder="Enter date" required/></td>
            </tr>
        </tr>
            <tr>
                <td> <button>Submit</button></label></td>
            </tr>
        </table> 
    </form>
    <script>
        function preventDupes( select, index ) {
        var options = select.options,
        len = options.length;
        while( len-- ) {
            options[ len ].disabled = false;
        }
        select.options[ index ].disabled = true;
        if( index === select.selectedIndex ) {
            alert('You\'ve already selected the item "' + select.options[index].text + '".\n\nPlease choose another.');
            this.selectedIndex = 0;
        }
    }

    var select1 = select = document.getElementById( 'homeTeamId' );
    var select2 = select = document.getElementById( 'awayTeamId' );

    select1.onchange = function() {
        preventDupes.call(this, select2, this.selectedIndex );
    };

    select2.onchange = function() {
        preventDupes.call(this, select1, this.selectedIndex );
    };
    </script>
</body>
</html>